@font-face {
  font-family: Book Insanity;
  src: url('./fonts/Bookinsanity.otf');
}

@font-face {
  font-family: Chicago;
  src: url('./fonts/ChicagoFLF.ttf');
}

html {
	height: 100%;
}

html, body {
	margin: 0;
}

body {
	width: 100%;
	color: white;
	position: relative;
	height: 100vh;
	max-height: -webkit-fill-available;
	background: url('./images/bg-marble.jpg');
	/*background: black;*/
	background-size: cover;
	box-sizing: border-box;
}

h2 {
	font-family: 'Book Insanity';
	text-transform: uppercase;
	margin: 0.2em 0;
}

p {
	font-family: Chicago;
}

img {
	width: 100%;
}

a {
	color: black;
	text-decoration: none;
	display: inline-block;
	position: relative;
	z-index: 1;
	transition: .25s;
}

a:hover {
	color: white;
}

a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: .07em;
  height: .1em;
  width: 100%;
  background: linear-gradient(110deg,#d71e39,#e1f549,#29d0be,#6cb8ea);
  z-index: -1;
  transition: height .25s cubic-bezier(.6,0,.4,1);
}

a:hover:after {
  height: 1em;
}

button {
	background: none;
	border: 2px solid black;
	border-radius: 15px;
	padding: 10px 20px;
	font-family: Chicago;
	cursor: pointer;
	transition: .25s cubic-bezier(.6,0,.4,1);
}

button:hover {
	background:black;
	color: white;
}

button:hover a {
	color: white;
}

button a:after {
	content: none;
}

#container {
	width: 100%;
	height: 100%;
	max-width: 2000px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	padding: 50px;
	box-sizing: border-box;
	overflow: hidden;
}

#earth-col {
	width: 100%;
	position: relative;
	height: 100%;
}

#element {
	width: 100%;
	height: 100%;
}

#track-list {
	position: absolute;
	bottom: 50px;
	right: 40px;
	z-index: 1001;
}

#track-list p {
	margin: 0;
	cursor: pointer;
}

#track-list p:hover {
	color: red;
}

#logo {
	position: absolute;
	top: 50px;
	left: 50px;
	width: 200px;
	text-align: center;
	z-index: 1001;
}

#full-film button {
	border-color: white;
	color: white;
	margin-top: 10px;
}

#full-film button:hover {
	background: white;
}

#full-film button:hover a {
	color: black;
}

#full-film button a {
	color: white;
}

#full-film {
	position: absolute;
	top: 50px;
	right: 50px;
	width: 180px;
}

#crown {
	width: 50px;
}

.popup {
	position: absolute;
	background: white;
	width: 100%;
	height: 600px;
	max-width: 1000px;
	margin: auto;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: black;
  border: 3px solid black;
  z-index: 1002;
  overflow: hidden;
  box-sizing: border-box;
}

.popup-bar {
	width: 100%;
	outline: 3px solid black;
	box-sizing: border-box;
	position: relative;
	height: 32px;
}

.popup-bar-line-wrapper {
	padding: 5px 3px;
}

.popup-bar-line {
	width: 100%;
	height: 1px;
	border-bottom: 2px solid black;
	margin-bottom: 2px;
	box-sizing: border-box;
}

#close-button {
	width: 20px;
	height: 20px;
	background: white;
	border: 2px solid black;
	outline: 2px solid white;
	position: absolute;
	right: 20px;
	top: 4px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

#close-button img {
	width: 14px;
	margin: auto;
}

.popup-bar-line:last-of-type {
	margin-bottom: 0;
}

.popup-contents {
	padding: 20px 20px 50px 20px;
	text-align: center;
	overflow-y: scroll;
	height: 568px;
	box-sizing: border-box;
}

#popup-title {
	font-size: 3em;
	margin: 0.5em 0;
}

.popup-details-wrapper {
	/*display: flex;*/
	margin-top: 20px;
}

.popup-details-embed {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	box-sizing: border-box;
}

.popup-blurb-container {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

.popup-blurb-container p {
	text-align: left;
	font-family: 'Book Insanity', serif;
	font-size: 1.2em;
}

#blurb img {
	width: 20px;
	display: inline-block;
}

.popup-details {
	text-align: left;
	font-family: 'Chicago', sans-serif;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	padding-top: 20px;
	display: flex;
}

.popup-details > div {
	width: 50%;
}

.popup-details p {
	font-size: 1em;
	margin: 0.2em 0;
}

.popup-details-left {
	width: 60%;
}

.popup-details-line {
	display: flex;
	align-items: flex-end;
}

.popup-details-field {
	margin-right: 10px;
	width: 90px;
}

#dancers .popup-details-line {
	align-items: flex-start;
}

#dancers p {
	margin: 0;
}

.news-highlight {
	color: red;
}

.crown-overlay img {
	width: 30px;
	pointer-events: all;
	cursor: pointer;
	transform: translate(-50%, -50%);
	transition: 0.25s;
}

.crown-overlay img:hover {
	transform: translate(-50%, -50%) scale(1.1);
}

.time-overlay h3, .time-overlay h4 {
	font-family: 'Book Insanity';
	margin: 0;
}

.time-overlay h3 {
	font-size: 2.5em;
}

.time-overlay h4 {
	font-size: 1.5em;
	text-transform: uppercase;
}

.time-overlay {
	transform: translate(-50%, -50%);
	text-align: center;
	color: #ff1b1b;
/*	background: rgba(255,255,255,0.8);
*/}

.open {
	animation: grow .15s cubic-bezier(0.99, 0.04, 0.57, 1.31) forwards;
}

.close {
	animation: shrink .15s cubic-bezier(0.99, 0.04, 0.57, 1.31) forwards;
}

.pulsing:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 1.5em;
	height: 1.5em;
	border: 1px red solid;
	opacity: 0.8;
	border-radius: 50%;
	transform: translate(-50%, -50%) scale(1);
	animation: pulse 3s infinite;
}

.pulsing::after {
	animation-delay: 1.5s;
}

@keyframes pulse {
	0% { opacity: 0.8; transform: translate(-50%, -50%) scale(1); }
	50%, 100% { opacity: 0; transform: translate(-50%, -50%) scale(2.5); }
}

@keyframes grow {
	0% {transform: translate(-50%, -50%) scale(0)}
	100% {transform: translate(-50%, -50%) scale(1)}
}


@keyframes shrink {
	0% {transform: translate(-50%, -50%) scale(1)}
	100% {transform: translate(-50%, -50%) scale(0)}
}

@media only screen and (min-width: 1500px) {
	.crown-overlay img {
		width: 50px;
	}
}

@media only screen and (max-width: 1200px) {
	.popup {
		width: 800px;
	}
}

@media only screen and (max-width: 900px) {
	.tracks {
		display: none;
	}
	#track-list {
		left: 50%;
		transform: translate(-50%, 0);
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#logo {
		left: 50%;
		transform: translate(-50%,0);
	}
	.popup {
		width: 100%;
	}
}

@media only screen and (max-width: 800px) {
	.popup-details {
		flex-wrap: wrap;
	}
	.popup-details > div {
		width: 100%;
	}
	.popup-details-right {
		margin-top: 20px;
	}
}

@media only screen and (max-width: 800px) {
	.crown-overlay img {
		width: 25px;
	}
	#container {
		padding: 50px 30px;
	}
}

@media only screen and (max-width: 600px) {
	#container {
		padding: 0;
	}
	#full-film {
		bottom: 10%;
		width: 100%;
	}
}
